/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* BODY */
body {
  background-color: #f4f4f4;
  color: #333;
  /* overflow-x: hidden; */
}

/* ================= NAVBAR ================= */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #222;
}

.logo {
  color: #fff;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

a:hover {
  text-decoration: underline;
}

/* ================= HERO SECTION ================= */
.hero {
  height: 80vh;
  background-color: #e3e3e3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 20px;
  margin-bottom: 20px;
}

.hero button {
  padding: 10px 20px;
  border: none;
  background-color: #222;
  color: white;
  cursor: progress;
  font-size: 16px;
}

button:hover {
  background-color: #444;
}

/* ================= PROJECTS SECTION ================= */
.projects {
  padding: 50px 20px;
  text-align: center;
}

.projects h2 {
  margin-bottom: 30px;
}

.project-list {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.project-card {
  /* flex: 1; */
  background-color: white;
  padding: 30px;
  width: 200px;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/* ================= CONTACT SECTION ================= */
.contact {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 30px 20px;
}

/* ================= RESPONSIVE ================= */
@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    padding: 15px 20px;
    gap: 10px;
  }

  .hero h1 {
    font-size: 28px;
  }

  .project-list {
    flex-direction: column;
    align-items: center;
  }
}
